<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 마이페이지 전체 wrap -->
        <div class="container px-5 my-5 review_post">
            <!-- 마이페이지 타이틀 -->
            <h1 class="mt-4">
                <div class="board_title">
                    <h1>마이 페이지</h1>
                </div>

            </h1>
            <span>
                <div sec:authorize="hasRole('USER')"><h3>내 프로필</h3></div>
            </span>
            <!-- <div sec:authorize="isAuthenticated()">
                Only Authenticated user can see this Text
            </div> -->
            <br>
            회원 이메일
            <div sec:authentication="name"></div>
            <br>
            닉네임
            <br>
            회원 등급
            <div sec:authentication="principal.authorities">
            </div>
            <br>
            <a href="/onmom/index">홈</a>
            <a href="/logout">로그아웃</a>
        </div>


    </th:block>
</th:block>

</html>