<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 마이페이지 전체 wrap -->
        <div class="container px-5 my-5 review_post">
            <!-- 마이페이지 타이틀 -->
            <h1 class="mt-4">
                <div class="board_title">
                    <h1>마이 페이지</h1>
                </div>

            </h1>

            <span>
                <h3>내 프로필</h3>
            </span>
            <!-- <div sec:authorize="isAuthenticated()">
                Only Authenticated user can see this Text
            </div> -->
            <br>
            회원 이메일
            <div sec:authentication="name"></div>
            <br>
            닉네임

            <br>
            <button type="button" class="btn btn-primary" href="/onmom/index">홈</button>
            <button type="button" class="btn btn-primary" href="/logout">회원정보 변경</button>

        <div class="container px-5 my-5 review_post">
            <h3>내가 쓴 글</h3>
        </div>


        </div>
    </th:block>
</th:block>

</html>