<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="py-5 post_content">
            <div class="container px-5 my-5 review_post">
                <div class="row gx-5">
                    <div class="container-fluid">
                            <header class="mb-4">
                                <!-- 게시판 기본 타이틀 -->
                                <div class="board_title">
                                    <h1>추천 헬스장<span class="fw-light text-muted sub_title">회원 분들의 추천 게시판입니다.</span></h1>
                                </div>
                            </header>
                        <!-- gallery 리스트 -->
                        <section id="gallery">
                            <div class="gallery_frame">
                                <div class="content_title">
                                    <select id="select_value" name="area">
                                        <option value="전체">전체</option>
                                        <option value="도봉구">도봉구</option>
                                        <option value="노원구">노원구</option>
                                        <option value="강북구">강북구</option>
                                        <option value="성북구">성북구</option>
                                        <option value="중랑구">중랑구</option>
                                        <option value="동대문구">동대문구</option>
                                        <option value="종로구">종로구</option>
                                        <option value="서대문구">서대문구</option>
                                        <option value="은평구">은평구</option>
                                        <option value="마포구">마포구</option>
                                        <option value="중구">중구</option>
                                        <option value="용산구">용산구</option>
                                        <option value="성동구">성동구</option>
                                        <option value="광진구">광진구</option>
                                        <option value="강서구">강서구</option>
                                        <option value="양천구">양천구</option>
                                        <option value="구로구">구로구</option>
                                        <option value="영등포구">영등포구</option>
                                        <option value="금천구">금천구</option>
                                        <option value="동작구">동작구</option>
                                        <option value="관악구">관악구</option>
                                        <option value="서초구">서초구</option>
                                        <option value="강남구">강남구</option>
                                        <option value="송파구">송파구</option>
                                        <option value="강동구">강동구</option>
                                    </select>
                                </div>
                                <!-- 갤러리 전체 wrap -->
                                <div class="row" style="padding-top:40px;">
                                    <!-- Gallery item -->
                                    <div th:each="dto : ${result.dtoList}" class="col-xl-3 col-lg-4 col-md-6 mb-4">
                                        <div class="bg-white rounded shadow-sm">
                                            <!-- 이미지 썸네일 -->
                                            <img    th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null }"
                                                    th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|" alt="" class="img-fluid card-img-top">
                                            <div class="p-4" style="position:relative;">
                                                <span class="text-muted" style="position:absolute; left:10px; top:10px;">
                                                    [[${dto.area}]]
                                                </span>
                                                <h5 style="padding-left:15px; width:360px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
                                                    <a th:href="@{/onmom/review_read(review_id = ${dto.review_id}, page = ${result.page})}" class="text-dark">
                                                        [[${dto.title}]]
                                                    </a>
                                                </h5>
                                                <!-- 글 내용 일부 미리보기 -->
                                                <p class="small text-muted mb-0" style="width:360px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
                                                    [[${dto.content}]]
                                                </p>
                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                                    <p class="small mb-0">
                                                        <!-- like 카운트 -->
                                                        <span>
                                                            <img src="/img/like.png" style="width:32px;" alt="좋아요">
                                                            <span class="font-weight-bold">
                                                                [[${dto.like_cnt}]]
                                                            </span>
                                                        </span>
                                                        <!-- dislike 카운트 -->
                                                        <span>
                                                            <img src="/img/dislike.png" style="width:32px;" alt="싫어요">
                                                            <span class="font-weight-bold">
                                                                [[${dto.dislike_cnt}]]
                                                            </span>
                                                        </span>
                                                    </p>
                                            <!--    <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 게시글 없을 경우 -->
                                    <div th:if="${dto == null} or ${dto.size() == 0}">
                                        <p style="font-size:25px;">
                                            작성된 게시물이 없습니다.
                                        </p>
                                    </div>
                                    <!-- End -->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-2.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">Blorange</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>-->
<!--                                                    <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End &ndash;&gt;-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-3.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">And She Realized</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--                                                    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End &ndash;&gt;-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-4.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">DOSE Juice</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>-->
<!--                                                    <div class="badge badge-success px-3 rounded-pill font-weight-normal">Hot</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End &ndash;&gt;-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-5.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">Pineapple</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>-->
<!--                                                    <div class="badge badge-primary px-3 rounded-pill font-weight-normal">New</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; End &ndash;&gt;-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-6.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">Yellow banana</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--                                                    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-7.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">Yellow banana</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--                                                    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-8.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">Yellow banana</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--                                                    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--                                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--                                        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-1.jpg" alt="" class="img-fluid card-img-top">-->
<!--                                            <div class="p-4">-->
<!--                                                <h5> <a href="#" class="text-dark">Yellow banana</a></h5>-->
<!--                                                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--                                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--                                                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--                                                    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <!-- End -->
                                </div>
                            </div>
                            <!-- 게시판 페이징 및 검색 영역 -->
                            <div class="board_util">
                                <!-- pagination 틀 -->
                                <ul>
                                    <li class="page-item">
                                        <a class="page-link" href="#" >이전</a>
                                    </li>
                                    <!-- 페이징 번호 관련 li 태그 -->
                                    <li></li>
                                    <li>
                                        <a class="page-link" href="#">다음</a>
                                    </li>
                                </ul>
                                <!-- 검색기능 틀 -->
                                <form method="get">
                                    <div class="search_wrap">
                                        <span>
                                            <input type="hidden" name="page" value="1">
                                            <span class="input-group-prepend" >
                                                <select class="custom-select search_select" name="type">
                                                    <option value="tcwa">전체</option>
                                                    <option value="tc">제목 + 내용</option>
                                                    <option value="t">제목</option>
                                                    <option value="c">내용</option>
                                                    <option value="w">작성자</option>
                                                    <option value="a">지역</option>
                                                </select>
                                            </span>
                                        </span>
                                        <span class="container-fluid" style="padding-left:0.1rem; padding-right:0.1rem;">
                                            <input name="keyword" style="max-width:250px; width:100%;">
                                        </span>
                                        <span class="input-group-append search_btn_wrap">
                                            <button type="button" class="btn btn-dark">검색</button>
                                            <button type="button" class="btn btn-clear">초기화</button>
                                        </span>
                                    </div>
                                </form>
                                <!-- 페이지 관련 -->
                                <form action="/onmom/review_board" method="get" id="searchForm">
                                    <input type="hidden" name="page" value="1">
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
