<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- CKEditor 관련 jQuery  -->
        <script src="/js/ckeditor/ckeditor.js"></script>
        <script>
        /* jQuery, window 먼저 load함 */
<!--        $(function(){-->
<!--            /* CKEditor 구현 */-->
<!--            CKEDITOR.replace('text_area',{-->
<!--                font_names : "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",-->
<!--                font_defaultLabel : "맑은 고딕/Malgun Gothic",-->
<!--                fontSize_defaultLabel : "12",-->
<!--                skin : "office2013",-->
<!--                language : "ko"-->
<!--            });-->
<!--        });-->

        // 이미지 업로드
        //// window 부터 load함
        $(document).ready(function(){
            // 확장자 필터링하는 정규식, 업로드 제한기능
            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
            var maxSize = 10485760 // 약 10 MB

            function checkExtension(fileName, fileSize){
                if(fileSize >= maxSize){
                    alert("파일 사이즈 초과!");
                    return false;
                }

                if(regex.test(fileName)){
                    alert("해당 종류의 파일은 업로드할 수 없습니다.");
                    return false;
                }

                return true;
            }

            $(".custom-file-input").on("change", function(){
                var fileName = $(this).val().split("\\").pop();

                // 해당 클래스(custom-file-input)의 형제 태그에 속한 것에 selected 클래스를 삽입 하고 fileName 을 html 상 출력(삽입)함
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                // form 태그에 대응되는 js 객체
                var formData = new FormData();

                var inputFile = $(this);

                var files = inputFile[0].files;

                var appended = false;

                for(var i = 0; i < files.length; i++){
                    if(!checkExtension(files[i].name, files[i].size)){
                        return false;
                    }

                    console.log(files[i]);

                    formData.append("uploadFiles", files[i]);
                    appended = true;
                }

                // upload를 하지 않음
                if(!appended){
                    return;
                }

                for(var value of formData.values()){
                    console.log(value);
                }

                // 실제 업로드 부분
                // upload ajax
                $.ajax({
                    url: '/uploadAjax',
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'POST',
                    dataType: 'json',
<!--                    beforeSend: function(jqXHR, setting){ // Security 관련 ajax 전송 옵션-->
<!--                        var header = $("meta[name='_csrf_header']").attr("content");-->
<!--                        var token = $("meta[name='_csrf']").attr("content");-->
<!--                        jqXHR.setRequestHeader(header, token);-->
<!--                    },-->
                    success: function(result){
                        console.log(result);
                        showResult(result);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(textStatus);
                    }
                }); // ajax 끝
            }); // change 관련 event 끝

            // ajax가 가져온 결과 데이터를 호출하는 함수 선언
            function showResult(uploadResultArr){
                var uploadUL = $(".uploadResult ul");
 //             var ckEditorLoc = $(".cke_editable");
                var str = "";

                $(uploadResultArr).each(function(i, obj){
                    str += "<li data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
                    str += " <div>";
                    str += "<button type='button' data-file=\'"+ obj.imageURL + "\' "
                    str += "class='btn-light btn-sm'>X</button><br>";
                    str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                    str += "</div>";
                    str += "</li>";
                });

//                  $(uploadResultArr).each(function(i, obj){
//                    str += "<div data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
//                    str += " <div>";
//                    str += "<button type='button' data-file=\'"+ obj.imageURL + "\' "
//                    str += "class='btn-light btn-sm'>X</button><br>";
//                    str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
//                    str += "</div>";
//                    str += "</div>";
//                  });

                // uploadUL을 변수 str에 삽입
                uploadUL.append(str);
            }

                // 이미지 삭제 버튼
            $(".uploadResult ").on("click", "li button", function(e){
                console.log("delete file");
                var targetFile = $(this).data("file");
                var targetLi = $(this).closest("li");

                $.ajax({
                    url: '/removeFile',
                    data: {fileName: targetFile},
                    dataType:'text',
                    type: 'POST',
                    success: function(result){
                        alert("해당 이미지는 삭제처리 되었습니다!");

                        targetLi.remove();
                    }
                }); //$.ajax 끝(이미지 삭제 관련)
            });


        });


    </script>
        <!-- Page Content-->
        <section class="py-5 post_content">
            <div class="container px-5 my-5 review_post">
                <div class="row gx-5">
                    <div class="container-fluid">
                        <!-- Post content-->
                        <article>
                            <!-- form 태그 시작 -->
                            <form id="form" th:action="@{/review/register}" th:method="post" >
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- 게시판 기본 타이틀 -->
                                    <div class="board_title">
                                        <h1>추천 헬스장<span class="fw-light text-muted sub_title">글 작성</span></h1>
                                    </div>
                                </header>
                                <div class="post_info mb-4">
                                    <!-- 게시글 제목-->
                                    <label class="fw-bold"><h2>글 제목</h2></label>
                                    <input type="text" name="title" class="post_title" placeholder="글 제목을 입력해 주세요" style="width:100%; margin-top:20px;">
                                    <hr />
                                    <!-- 작성 정보-->
                                    <div class="text-muted mb-2 post_detail">
                                        <div class="post_no col-3">
                                            <p class="mb-0 fw-bold text-dark reviewNum">번호</p>
                                            <span>
                                                        -
                                            </span>
                                        </div>
                                        <div class="post_area col-3">
                                            <p class="mb-0 fw-bold text-dark">지역</p>
                                            <span>
                                                <select id="select_value" name="area">
                                                    <option value="전체">전체</option>
                                                    <option value="도봉구">도봉구</option>
                                                    <option value="노원구">노원구</option>
                                                    <option value="강북구">강북구</option>
                                                    <option value="성북구">성북구</option>
                                                    <option value="중랑구">중랑구</option>
                                                    <option value="동대문구">동대문구</option>
                                                    <option value="종로구">종로구</option>
                                                    <option value="서대문구">서대문구</option>
                                                    <option value="은평구">은평구</option>
                                                    <option value="마포구">마포구</option>
                                                    <option value="중구">중구</option>
                                                    <option value="용산구">용산구</option>
                                                    <option value="성동구">성동구</option>
                                                    <option value="광진구">광진구</option>
                                                    <option value="강서구">강서구</option>
                                                    <option value="양천구">양천구</option>
                                                    <option value="구로구">구로구</option>
                                                    <option value="영등포구">영등포구</option>
                                                    <option value="금천구">금천구</option>
                                                    <option value="동작구">동작구</option>
                                                    <option value="관악구">관악구</option>
                                                    <option value="서초구">서초구</option>
                                                    <option value="강남구">강남구</option>
                                                    <option value="송파구">송파구</option>
                                                    <option value="강동구">강동구</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="post_write col-3">
                                            <p class="mb-0 fw-bold text-dark">작성자</p>
                                            <span name="member_id" sec:authentication="name">

                                            </span>
                                        </div>
                                        <div class="post_date col-3">
                                            <p class="mb-0 fw-bold text-dark">작성일</p>
                                            <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">

                                            </span>
                                        </div>
                                    </div>
                                    <hr />
                                </div>

                                <!-- 글 내용-->
                                <section class="mb-3">
                                    <!-- 글 작성 textarea -->
                                    <p class="fs-5 mb-4">
                                        <!-- 이미지 영역, div 태그로 작성되어 자동 줄바꿈, thumnail 관련 코딩 기입 -->
                                        <div class="uploadResult">
                                            <ul>
                                                <!-- 이미지  -->
                                            </ul>
                                        </div>
                                        <textarea id="text_area" class="col-12 ckeditor" rows="25" name="content" >

                                        </textarea>
                                    </p>
                                </section>
                                <div class="form-group fileForm">
                                    <label >이미지 파일</label>
                                    <div class="custom-file">
                                        <input class="custom-file-input" name="uploadFiles" type="file" id="fileInput" multiple>
                                        <label class="custom-file-label" data-browse="업로드"></label>
                                    </div>
                                </div>
                                <!-- 등록 버튼 -->
                                <div class="btn_wrap">
                                    <button type="submit" class="btn btn-dark btn_style registerBtn">등록</button>
                                    <button type="button" class="btn btn-light btn_style">취소</button>
                                </div>
                            </form>
                            <!-- form 태그 끝 -->
                        </article>
                    </div>
                </div>
            </div>
        </section>

<!--        <script>-->
<!--            $(".registerBtn).on("click", function(){-->
<!--                var select_value = document.getElementById('select_value');-->
<!--                var reviewNum = $(".reviewNum")-->
<!--                var formData = new FormData(this);-->
<!--                formData.append("area", select_value);-->

<!--                $.ajax({-->
<!--                    url: '/api/review/'+reviewNum,-->
<!--                    data: formData,-->
<!--                    type: 'POST',-->
<!--                    contentType: "application/json; charset=utf-8",-->
<!--                    dataType: 'json',-->
<!--                    success: function(result){-->
<!--                        alert(result);-->
<!--                    }-->
<!--                    });-->

<!--                });-->
<!--            }-->
<!--        </script>-->
    </th:block>
</th:block>