<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- Page Content-->
        <section class="py-5 post_content">
            <div class="container px-5 my-5 review_post">
                <div class="row gx-5">
                    <div class="container-fluid">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- 게시판 기본 타이틀 -->
                                <div class="board_title">
                                    <h1>추천 헬스장<span class="fw-light text-muted sub_title">글 작성</span></h1>
                                </div>
                                <div class="post_info">
                                    <!-- 게시글 제목-->
                                    <label class="fw-bold"><h2>글 제목</h2></label>
                                    <input type="text" class="fw-bolder post_title" placeholder="글 제목을 입력해 주세요" style="width:100%; margin-top:20px;">
                                    <hr />
                                    <!-- 작성 정보-->
                                    <div class="text-muted mb-2 post_detail">
                                        <div class="post_no col-3">
                                            <p class="mb-0 fw-bold text-dark">번호</p>
                                            <span>
                                                    105
                                            </span>
                                        </div>
                                        <div class="post_area col-3">
                                            <p class="mb-0 fw-bold text-dark">지역</p>
                                            <span>
                                                    <select>
                                                        <option>도봉구</option>
                                                        <option>노원구</option>
                                                        <option>강북구</option>
                                                        <option>성북구</option>
                                                        <option>중랑구</option>
                                                        <option>동대문구</option>
                                                        <option>종로구</option>
                                                        <option>서대문구</option>
                                                        <option>은평구</option>
                                                        <option>마포구</option>
                                                        <option>중구</option>
                                                        <option>용산구</option>
                                                        <option>성동구</option>
                                                        <option>광진구</option>
                                                        <option>강서구</option>
                                                        <option>양천구</option>
                                                        <option>구로구</option>
                                                        <option>영등포구</option>
                                                        <option>금천구</option>
                                                        <option>동작구</option>
                                                        <option>관악구</option>
                                                        <option>서초구</option>
                                                        <option>강남구</option>
                                                        <option>송파구</option>
                                                        <option>강동구</option>
                                                    </select>
                                                </span>
                                        </div>
                                        <div class="post_wirte col-3">
                                            <p class="mb-0 fw-bold text-dark">작성자</p>
                                            <span>
                                                    test_id
                                            </span>
                                        </div>
                                        <div class="post_date col-3">
                                            <p class="mb-0 fw-bold text-dark">작성일</p>
                                            <span>
                                                    2022/06/22
                                                </span>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </header>
                            <!-- 이미지 영역, div 태그로 작성되어 자동 줄바꿈, thumnail 관련 코딩 기입 -->
                            <div class="mb-4">
                                <!-- <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /> -->
                            </div>
                            <!-- 글 내용-->
                            <section class="mb-3">
                                <!-- 글 작성 textarea -->
                                <p class="fs-5 mb-4">
                                    <textarea class="col-12" rows="25" ></textarea>
                                </p>
                            </section>
                            <div class="form-group fileForm">
                                <label >이미지 파일</label>
                                <div class="custom-file">
                                    <input type="file"  class="custom-file-input" id="fileInput" multiple>
                                    <label class="custom-file-label" data-browse="Browse"></label>
                                </div>
                            </div>
                            <!-- 등록 버튼 -->
                            <div class="btn_wrap">
                                <button type="button" class="btn btn-dark btn_style">등록</button>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>