<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <!-- 자유게시판 전체 wrap -->
        <section class="py-5">
            <div class="container px-5 my-5 review_post">
        <h1 class="mt-4">게시글 등록</h1>

        <form th:action="@{/onmom/freeBoard/freeBoardRegister}" th:method="post">
            <div class="form-group">
                <label >제목</label>
                <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요...">
            </div>
            <div class="form-group">
                <label >내용</label>
                <textarea class="form-control" rows="5" name="content" placeholder="내용을 입력하세요..."></textarea>
            </div>
            <div class="form-group">
                <label >글쓴이</label>
                <input type="email" class="form-control" name="member_id" th:value="${#authentication.name}" placeholder="글쓴이" readonly>
            </div>

            <button type="submit" class="btn btn-primary">등록</button>
        </form>
            </div>
        </section>

    </th:block>

</th:block>
