<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- CKEditor 관련 jQuery  -->
        <script src="/js/ckeditor/ckeditor.js"></script>
        <script>
        $(function(){
            /* CKEditor 구현 */
            CKEDITOR.replace('free_text_area',{
                font_names : "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
                font_defaultLabel : "맑은 고딕/Malgun Gothic",
                fontSize_defaultLabel : "12",
                skin : "office2013",
                language : "ko"
            });
        });

    </script>
        <!-- Page Content-->
        <section class="py-5 post_content">
            <div class="container px-5 my-5 review_post">
                <div class="row gx-5">
                    <div class="container-fluid">
                        <!-- Post content-->
                        <article>
                            <!-- form 태그 시작 -->
                            <form id="form" th:action="@{/onmom/freeBoard/freeBoardRegister}" th:method="post">

                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- 게시판 기본 타이틀 -->
                                    <div class="board_title">
                                        <h1>자유 게시판<span class="fw-light text-muted sub_title">자유 게시글 작성</span></h1>
                                    </div>
                                </header>

                                <!-- 글쓴이-->
                                <hr/>
                                <div class="text-muted mb-2 post_detail">
                                    <div class="post_write col-3">
                                        <p class="mb-0 fw-bold text-dark">글쓴이</p>
                                            <input type="hidden" class="form-control" name="member_id"
                                                   th:value="${#authentication.name}">
                                        <span>[[${#authentication.name}]]</span>
                                    </div>
                                </div>
                                <hr/>

                                <!-- input hidden 타입이 삽입 -->
                                <div class="box"></div>

                                <!-- 글 제목-->
                                <section class="mb-3">
                                    <!-- 글 작성 textarea -->
                                    <p class="fs-5 mb-4">
                                        <input type="text" class="form-control title" name="title" placeholder="제목은 20자 이내로 입력해주세요.">
                                    </p>
                                </section>

                                <!-- 글 내용-->
                                <section class="mb-3">
                                    <!-- 글 작성 textarea -->
                                    <p class="fs-5 mb-4">
                                    <textarea placeholder="추천 헬스장은 헬스장 후기 관련 정보 한정으로 게시물 등록 가능합니다.
내용은 사진 첨부와 함께 반드시 1000자 이내로 입력해주세요." id="free_text_area" rows="25" name="content" >

                                        </textarea>
                                    </p>
                                </section>

                                <!-- 등록 버튼 -->
                                <div class="btn_wrap">
                                    <div id="content_cnt">(0 / 1000)</div>
                                    <button type="submit" class="btn btn-primary">등록</button>
                                </div>

                            </form>
                            <!-- form 태그 끝 -->
                        </article>
                    </div>
                </div>
            </div>
        </section>

        </div>
        </section>

        <!--                <section class="py-5">-->
        <!--                    <div class="container px-5 my-5 review_post">-->
        <!--                <h1 class="mt-4">게시글 등록</h1>-->

        <!--                <form th:action="@{/onmom/freeBoard/freeBoardRegister}" th:method="post">-->
        <!--                    <div class="form-group">-->
        <!--                        <label >제목</label>-->
        <!--                        <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요...">-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label >내용</label>-->
        <!--                        <textarea class="form-control" rows="5" name="content" placeholder="내용을 입력하세요..."></textarea>-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label >글쓴이</label>-->
        <!--                        <input type="email" class="form-control" name="member_id" th:value="${#authentication.name}" placeholder="글쓴이" readonly>-->
        <!--                    </div>-->

        <!--                    <button type="submit" class="btn btn-primary">등록</button>-->
        <!--                </form>-->
        <!--                    </div>-->
        <!--                </section>-->
        <script>
        $(document).ready(function() {
              $('.content').on('keyup', function() {
                $('#content_cnt').html("("+$(this).val().length+" / 1000)");

                 if($(this).val().length > 1000) {
                     $(this).val($(this).val().substring(0, 1000));
                     $('#test_cnt').html("(1000 / 1000)");
                 }
              });

              $('.title').on('keyup', function() {

                if($(this).val().length > 22) {
                    $(this).val($(this).val().substring(0, 22));

                }
            });
        });
        </script>
    </th:block>

</th:block>
