<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <!-- 자유게시판 전체 wrap -->
        <section class="py-5">
            <div class="container px-5 my-5 review_post">

                <article>
                    <header class="mb-4">
                        <!-- 게시판 기본 타이틀 -->
                        <div class="board_title">
                            <h1>자유 게시판<span class="fw-light text-muted sub_title">회원 분들의 자유 게시판입니다.</span></h1>
                        </div>
                    </header>
                    <div class="post_info mb-4">
                        <!-- 게시글 제목-->
                        <h2 class="fw-bolder post_title">
                            [[${dto.title}]]
                        </h2>
                        <hr/>
                        <!-- 작성 정보-->
                        <div class="text-muted mb-2 post_detail">
                            <div class="post_no col-3">
                                <p class="mb-0 fw-bold text-dark">번호</p>
                                <span name="free_id">
                                            [[${dto.free_id}]]
                                        </span>
                            </div>
                            <div class="post_write col-3">
                                <p class="mb-0 fw-bold text-dark">작성자</p>
                                <span>
                                                [[${dto.member_id}]]
                                        </span>
                            </div>
                            <div class="post_date col-3">
                                <p class="mb-0 fw-bold text-dark">작성일</p>
                                <span>
                            [[${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}]]
                                        </span>
                            </div>
                            <div class="post_date col-3">
                                <p class="mb-0 fw-bold text-dark">수정일</p>
                                <span>
                            [[${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}]]
                                        </span>
                            </div>
                        </div>
                        <hr/>
                    </div>

                    <!-- 글 내용-->
                    <section class="mb-5">
                        <!-- 글 내용 관련 thymeleaf 코드는 p 태그 안에 기입 -->
                        <p class="fs-5 mb-4">
                            [[${dto.content}]]
                        </p>
                    </section>
                    <!-- 좋아요 싫어요 -->
                    <div style="  display: flex; justify-content: center; align-items: center;height:auto;">
                        <div class="event_box">
                            <div style="text-align:center; width:auto; height:auto; display:block; margin-right:10px; float:left">
                                <div id="like_box" class="button disabled form-group">
                                    <img src="/img/like.png" alt="좋아요">
                                    <!-- like_cnt, default 값은 0으로 함 -->
                                </div>
                                <input type="hidden" name="like_cnt" id="free_id" th:value="${dto.free_id}"/>
                                <input type="hidden" name="like_cnt" id="like_cnt" th:value="0"/>
                                <p id="likes_cnt">[[${dto.like_cnt}]]</p>
                            </div>

                            <div style="text-align:center; width:auto; height:auto; display:block; float:left">
                                <div id="hate_box" class="button disabled form-group">
                                    <img src="/img/dislike.png" alt="좋아요">
                                    <!-- like_cnt, default 값은 0으로 함 -->
                                </div>
                                <input type="hidden" name="hate_cnt" id="hate_cnt" th:value="0"/>
                                <p id="hates_cnt">[[${dto.hate_cnt}]]</p>
                            </div>
                        </div>
                    </div>
                    <!-- 수정 / 삭제 / 목록 버튼 -->
                    <div class="btn_wrap">
                        <!-- 로그인을 해야 수정/삭제 버튼 보이게 처리 -->
                        <th:block sec:authorize="isAuthenticated()">
                            <a class="btn btn-dark btn_style"
                               th:href="@{/onmom/freeBoard/freeBoardModify(free_id = ${dto.free_id})}">
                                수정 / 삭제
                            </a>
                        </th:block>
                        <a class="btn btn-dark btn_style" th:href="@{/onmom/freeBoard/freeBoardList}">목록</a>
                    </div>

                    <div>
                        <div class="list-group replyList">
                        </div>
                    </div>
                </article>
                <p style="font-size:25px; font-weight:bold;">댓글</p>
                <hr style="height:1.2px;"/>
                <!-- 댓글 section 영역 -->
                <section>
                    <div>
                        <div class="card-body comment_area">

                        </div>
                        <!-- 댓글 입력 창 감싸는 div -->
                        <div class="comment_write">
                            <!-- 댓글 작성자 ID -->
                            <div class="member_id_wrap">
                                <b>
                                    <input type="hidden" name="member_id" th:value="${#authentication.name}"/>
                                    <span class="checkId" name="member_id" sec:authentication="name">

                                    </span>
                                </b>
                            </div>
                        </div>
                        <!-- 댓글 입력 창 -->
                        <!-- 스프링 시큐리티 인증이 됐을 경우 댓글 작성 가능 -->
                        <th:block sec:authorize="isAuthenticated()">
                            <form class="mb-4 comment_input">
                                <textarea name="content" class="col-10 replyText" placeholder="올바른 댓글 문화를 만듭시다!"
                                          rows="3" style="resize:none;"></textarea>
                                <div class="submit_btn_wrap col-2">
                                    <button type="button" class="btn-dark btn_style_sq replyBtn">등록</button>
                                </div>
                            </form>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                            <form class="mb-4 comment_input replyCant">
                                <textarea name="content" class="col-10 replyText" rows="3"
                                          placeholder="로그인이 필요한 서비스입니다!" style="resize:none;" readonly></textarea>
                                <div class="submit_btn_wrap col-2">
                                    <button type="button" class="btn-dark btn_style_sq">등록</button>
                                </div>
                            </form>
                        </th:block>
                    </div>
                </section>
            </div>
        </section>

        <!-- 스프링 시큐리티 인증 됐을 경우, 댓글 작성 불가 관련 form 태그는 출력되지 않게 처리함 -->
        <th:block sec:authorize="isAuthenticated()">
            <style>
                .replyCant{display:none;}



            </style>
        </th:block>
        <script>
            $(document).ready(function () {

                var listGroup = $(".replyList");

                // 게시글 번호 및 작성자를 변수로 선언
                var free_id = [[${dto.free_id}]];

                var member_id = $('input[name="member_id"]').val();
                var check_id = "[[${#authentication.name}]]";

                // 댓글 권한 알림창
                $(".replyCant").click(function () {
                    alert("로그인이 필요한 서비스입니다!");
                    location.href = "/onmom/login";
                });

                // 댓글 등록
                $(".replyBtn").click(function () {
                    // 댓글 빈칸 checking
                    var checkContent = $(".replyText").val();

                    if (checkContent == "") {
                        alert("댓글 내용을 입력해 주세요!");
                        $(".replyText").focus();
                        return false;
                    } else { // 댓글 내용 존재할 때 DBfh ajax 통해 전송
                        var reply = {
                            free_id: free_id,
                            content: $(".replyText").val(),
                            member_id: member_id
                        }

                        console.log(reply);

                        $.ajax({
                            url: '/replies/',
                            type: 'POST',
                            data: JSON.stringify(reply),
                            contentType: 'application/json; charset = utf-8',
                            dataType: 'text',
                            success: function (result) {
                                console.log('결과 : ' + result);
                                self
                                    .location
                                    .reload();
                            },
                            error: function (request, status, error) {
                                console.log(
                                    "CODE : " + request.status + "\nmessage: " + request.responseText +
                                    "\nerror: " + error
                                );
                            }
                        })
                    }
                }); // 댓글 등록 끝

                function getReviewReplies() {
                    // 시간 checking
                    function formatTime(str) {
                        var date = new Date(str);

                        return date.getFullYear() + '/' + (
                            date.getMonth() + 1
                        ) + '/' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes();
                    }

                    $.getJSON('/replies/freeBoard/' + free_id, function (arr) {
                        console.log(arr);
                        var str = "";

                        // reply 관련 태그 삽입
                        $.each(arr, function (idx, reply) {
                            console.log(reply);

                            str += '<div class="mb-4 reply_wrap" style="position:relative;">';
                            str += '<div class="reply_tool" data-index="' + reply.comment_id +
                                    '" data-identify="' + reply.member_id + '" style="font-size:18px; position:abso' +
                                    'lute; right:10px; font-weight:700; letter-spacing:3px; color:#ccc; cursor:poin' +
                                    'ter">'
                            str += '...</div>';
                            str += '<div class="reply_tool_box" style="display:none; position:absolute; top:15px; ' +
                                    'right:15px; z-index:999; box-shadow:1px 1px 5px black;">';
                            str += '<ul style="margin:0; padding:0;">';
                            str += '<li>';
                            str += '<button href="#" class="tool_btn tool_btn_modify" style="border: none; text-al' +
                                    'ign:center; font-size:12px; color:#0d6efd; display:block; width:70px; padding:' +
                                    '10px 20px; border-bottom:0.5px solid #ccc; background-color:#fff;">수정';
                            str += '</button>';
                            str += '</li>';
                            str += '<li>';
                            str += '<button href="#" class="tool_btn tool_btn_remove" style="border: none; text-al' +
                                    'ign:center; font-size:12px; color:#0d6efd; display:block; width:70px; padding:' +
                                    '10px 20px; solid #ccc; background-color:#fff;">삭제';
                            str += '</button>';
                            str += '</li>';
                            str += '</ul>';
                            str += '</div>';
                            str += '<div class="ms-3 mb-2">';
                            str += '<div class="fw-bold">' + reply.member_id + '</div>';
                            str += '<textarea class="comment_text col-10" style="border:none; resize:none;" readon' +
                                    'ly>' + reply.content + '</textarea>';
                            str += '<div class="modify_btn_wrap" style="display:none;">'
                            str += '<button class="mod_register btn-dark">등록</button><button class="mod_cancel btn' +
                                    '-light">취소</button>'
                            str += '</div>'
                            str += '</div>';
                            str += '<span style="position:absolute; left:1rem; bottom:-15px; color:#ccc; font-size' +
                                    ':12px; font-weight:400;">';
                            str += '[[${dto.regDate}]]</span>';
                            str += '</div>';
                            str += '<hr style="height:0.5px;" />';

                        });

                        $('.comment_area').html(str);
                    });
                }

                getReviewReplies();

                // 댓글 툴박스 관련
                var replyIndex;
                var replyIdChk;
                $(".comment_area").on("click", ".reply_tool", function () {
                    var reply_tool = $(this);
                    var reply_tool_box = $(this).find(".reply_tool_box");

                    replyIndex = reply_tool.data("index");
                    replyIdChk = reply_tool.data("identify");
                    console.log(replyIndex);
                    console.log(replyIdChk);
                    if (check_id == replyIdChk) {
                        $(this)
                            .siblings(".reply_tool_box")
                            .css("display", "block")
                            .parents(".reply_wrap")
                            .siblings()
                            .find(".reply_tool_box")
                            .css("display", "none");
                    } else {
                        alert("권한이 없습니다!");
                    }
                })

                // 툴박스 호버 효과 처리
                $(".comment_area").on("mouseenter", ".tool_btn", function () {
                    $(this)
                        .css("background-color", "#000")
                        .css("color", "#fff");
                })
                $(".comment_area").on("mouseleave", ".tool_btn", function () {
                    $(this)
                        .css("background-color", "#fff")
                        .css("color", "#0d6efd");
                })

                // 허공 클릭 시에 열려있는 댓글 툴박스 닫기 처리
                $(document).mouseup(function (e) {
                    var reply_tool_box = $(".reply_tool_box");
                    if (reply_tool_box.has(e.target).length == 0) {
                        reply_tool_box.css("display", "none");
                    }
                })

                // 댓글 삭제처리
                $(".comment_area").on("click", ".tool_btn_remove", function () {
                    var confirmResult = confirm("댓글을 삭제하시겠습니까?");

                    if (confirmResult) { // 예
                        var reply_tool_box = $(".reply_tool_box");
                        var comment_id = replyIndex;
                        console.log(comment_id);
                        $.ajax({
                            url: '/replies/' + comment_id,
                            type: 'DELETE',
                            contentType: 'application/json; charset = utf-8;',
                            dataType: 'text',
                            success: function (result) {
                                console.log("result : " + result);
                                self
                                    .location
                                    .reload();
                                alert("해당 댓글이 삭제 되었습니다!");
                            }
                        }); // ajax 끝
                        reply_tool_box.hide();
                    } else { // 아니오
                        alert("취소되었습니다.");
                    }
                })

                // 댓글 수정처리
                $(".comment_area").on("click", ".tool_btn_modify", function () {
                    // modify 기능 활성화 시에 변경되는 CSS 들
                    $(this)
                        .parents(".reply_wrap")
                        .find(".comment_text")
                        .css("border", "1px solid #ccc")
                        .css("border-radius", "0.5px")
                        .attr("readonly", false)
                        .parents(".reply_wrap")
                        .siblings()
                        .find(".comment_text")
                        .css("border", "none")
                        .css("border-radius", "0.5px")
                        .attr("readonly", true);
                    $(this)
                        .parents(".reply_wrap")
                        .find(".modify_btn_wrap")
                        .css("display", "block")
                        .parents(".reply_wrap")
                        .siblings()
                        .find(".modify_btn_wrap")
                        .css("display", "none");

                    // mod 버튼 눌렀을 때의 이벤트
                    $(this)
                        .parents(".reply_wrap")
                        .find(".mod_register")
                        .click(function () {
                            // 확인 창
                            var modConResult = confirm("댓글을 수정하시겠습니까?");
                            if (modConResult) { // 예
                                // comment_text 값을 재지정해 준다
                                var comment_text = $(this)
                                    .parents(".reply_wrap")
                                    .find(".comment_text")
                                    .val();
                                //ajax 관련
                                var data = {
                                    comment_id: replyIndex,
                                    free_id: free_id,
                                    content: comment_text,
                                    member_id: member_id
                                }
                                var comment_id = replyIndex;

                                // data 값 checking
                                console.log(data);

                                $.ajax({
                                    url: '/replies/' + comment_id,
                                    type: 'PUT',
                                    data: JSON.stringify(data),
                                    contentType: 'application/json; charset = utf-8;',
                                    dataType: 'text',
                                    success: function (result) {
                                        console.log("result : " + result);
                                        getReviewReplies();
                                    },
                                    error: function (request, status, error) {
                                        console.log(
                                            "CODE: " + request.status + "\nmessage: " + request.responseText +
                                            "\nerror: " + error
                                        );
                                    }
                                }); // ajax 끝

                                // 관련 css 되돌리기
                                $(this)
                                    .parents(".reply_wrap")
                                    .find(".comment_text")
                                    .css("border", "none")
                                    .css("border-radius", "0.5px")
                                    .attr("readonly", true);
                                $(this)
                                    .parents(".reply_wrap")
                                    .find(".modify_btn_wrap")
                                    .css("display", "none");

                            } else { // 아니오
                            }
                        }) // 수정 확인 버튼 끝

                    // cancel 버튼 눌렀을 때의 이벤트
                    $(this)
                        .parents(".reply_wrap")
                        .find(".mod_cancel")
                        .click(function () {
                            // 관련 css 되돌리기
                            $(this)
                                .parents(".reply_wrap")
                                .find(".comment_text")
                                .css("border", "none")
                                .css("border-radius", "0.5px")
                                .attr("readonly", true);
                            $(this)
                                .parents(".reply_wrap")
                                .find(".modify_btn_wrap")
                                .css("display", "none");
                            getReviewReplies();
                        }) // 수정 취소 버튼 끝

                }) // mod 버튼 클릭 이벤트 끝

                //실어요 누름.
                $("#like_box").click(function () {

                    console.log("!12@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@");

                    $.ajax({
                        url: '/onmom/freeBoard/freeBoardLike?free_id=' + free_id,
                        type: "get",
                        success: function (data, status) {
                            console.log(data + "Success@@@@@#####$$$$$$$$!!!!");

                            $("#Likes_cnt").text(data);
                            self
                                .location
                                .reload();

                        }
                    });
                });

                //실어요 누름.
                $("#hate_box").click(function () {

                    console.log("!12@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@");

                    $.ajax({
                        url: '/onmom/freeBoard/freeBoardHate?free_id=' + free_id,
                        type: "get",
                        success: function (data, status) {
                            console.log(data + "Success@@@@@#####$$$$$$$$!!!!");

                            $("#Hates_cnt").text(data);
                            self
                                .location
                                .reload();

                        }
                    });
                });
            });
        </script>
    </th:block>
</th:block>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
