<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <script src="/js/ckeditor/ckeditor.js"></script>

        <!-- Page Content-->
        <section class="py-5 post_content" th:if="${#authentication.name.equals(dto.member_id)}">
            <div class="container px-5 my-5 review_post">
                <div class="row gx-5">
                    <div class="container-fluid">
                        <!-- Post content-->
                        <article>
                            <!-- form 태그 시작 -->
                            <form id="form" th:action="@{/onmom/freeBoard/freeBoardModify}" th:method="post">
                                <!--페이지 번호  -->
                                <input type="hidden" name="page" th:value="${requestDTO.page}">
                                <input type="hidden" name="type" th:value="${requestDTO.type}">
                                <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- 게시판 기본 타이틀 -->
                                    <div class="board_title">
                                        <h1>자유 게시판<span class="fw-light text-muted sub_title">글 수정</span></h1>
                                    </div>
                                </header>

                                <label class="fw-bold"><h2>글 제목</h2></label>

                                <!-- 글 제목-->
                                <section class="mb-3">
                                    <!-- 글 작성 textarea -->
                                    <p class="fs-5 mb-4">
                                        <input type="text" class="form-control title" name="title" th:value="${dto.title}">
                                    </p>
                                </section>
                                <hr />
                                <!-- 작성 정보-->
                                <div class="post_info mb-4">
                                    <div class="text-muted mb-2 post_detail">
                                        <div class="post_no col-3">
                                            <p class="mb-0 fw-bold text-dark">번호</p>
                                            <input type="hidden" th:value="${dto.free_id}" name="free_id">
                                            <span>
                                            [[${dto.free_id}]]
                                        </span>
                                        </div>
                                        <div class="post_write col-3">
                                            <p class="mb-0 fw-bold text-dark">작성자</p>
                                            <input type="hidden" th:value="${dto.member_id}" name="member_id">
                                            <span>
                                                [[${dto.member_id}]]
                                        </span>
                                        </div>
                                        <div class="post_date col-3">
                                            <p class="mb-0 fw-bold text-dark">작성일</p>
                                            <span th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}">
                                        </span>
                                        </div>
                                        <div class="post_date col-3">
                                            <p class="mb-0 fw-bold text-dark">수정일</p>
                                            <span th:text="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}">>
                                        </span>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>

                                <!-- input hidden 타입이 삽입 -->
                                <div class="box"></div>

                                <!-- 글 내용-->
                                <section class="mb-3">
                                    <!-- 글 작성 textarea -->
                                    <p class="fs-5 mb-4">
                                    <textarea id="text_area" class="form-control content" rows="25" name="content">[[${dto.content}]]</textarea>
                                    </p>
                                </section>

                                <!-- 등록 버튼 -->
                                <div class="btn_wrap">
                                    <div id="content_cnt">(0 / 1000)</div>
                                    <button type="button" class="btn btn-primary modifyBtn">수정</button>
                                    <button type="button" class="btn btn-info listBtn">목록</button>
                                    <button type="button" class="btn btn-danger removeBtn">삭제</button>
                                </div>

                                <!--                    &lt;!&ndash;페이지 번호  &ndash;&gt;-->
                                <!--                    <input type="hidden" name="page" th:value="${requestDTO.page}">-->
                                <!--                    <input type="hidden" name="type" th:value="${requestDTO.type}">-->
                                <!--                    <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">-->

                                <!--                    <div class="form-group">-->
                                <!--                        <label>번호</label>-->
                                <!--                        <input type="text" class="form-control" name="free_id" th:value="${dto.free_id}" readonly>-->
                                <!--                    </div>-->

                                <!--                    <div class="form-group">-->
                                <!--                        <label>제목</label>-->
                                <!--                        <input type="text" class="form-control" name="title" th:value="${dto.title}">-->
                                <!--                    </div>-->
                                <!--                    <div class="form-group">-->
                                <!--                        <label>내용</label>-->
                                <!--                        <textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea>-->
                                <!--                    </div>-->
                                <!--                    <div class="form-group">-->
                                <!--                        <label>작성자</label>-->
                                <!--                        <input type="text" class="form-control" name="nickname" th:value="${dto.nickname}" readonly>-->
                                <!--                    </div>-->
                                <!--                    <div class="form-group">-->
                                <!--                        <label>작성일</label>-->
                                <!--                        <input type="text" class="form-control"-->
                                <!--                               th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>-->
                                <!--                    </div>-->
                                <!--                    <div class="form-group">-->
                                <!--                        <label>수정일</label>-->
                                <!--                        <input type="text" class="form-control"-->
                                <!--                               th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>-->
                                <!--                    </div>-->

                            </form>
                            <!-- form 태그 끝 -->
                        </article>
                    </div>
                </div>
            </div>
        </section>

        </br>
<!--        <button type="button" class="btn btn-primary modifyBtn">수정</button>-->

<!--        <button type="button" class="btn btn-info listBtn">목록</button>-->

<!--        <button type="button" class="btn btn-danger removeBtn">삭제</button>-->

        </div>
        </section>
        <script src="/js/ckeditor/ckeditor.js"></script>

        <script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">

            var actionForm = $("form"); //form 태그 객체

            // csrf 토큰 처리
            var csrfToken = /*[[${_csrf.token}]]*/ null;
                var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
                $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
                });

            $(".removeBtn").click(function(){

                actionForm
                    .attr("action", "/onmom/freeBoard/freeBoardRemove")
                    .attr("method","post");

                actionForm.submit();

            });

            $(".modifyBtn").click(function() {

                if(!confirm("수정하시겠습니까?")){
                    return ;
                }

                actionForm
                    .attr("action", "/onmom/freeBoard/freeBoardModify")
                    .attr("method","post")
                    .submit();
            });

            $(".listBtn").click(function() {

                //var pageInfo = $("input[name='page']");
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty(); //form 태그의 모든 내용을 지우고

                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);


                actionForm
                    .attr("action", "/onmom/freeBoard/freeBoardList")
                    .attr("method","get");

                actionForm.submit();

            })

        </script>
        <script>

            $(document).ready(function() {
              $('#text_area').on('keyup', function() {
                $('#content_cnt').html("("+$(this).val().length+" / 1000)");

                 if($(this).val().length > 1000) {
                     $(this).val($(this).val().substring(0, 1000));
                     $('#test_cnt').html("(1000 / 1000)");
                 }
              });

              $('.title').on('keyup', function() {

                if($(this).val().length > 20) {
                    $(this).val($(this).val().substring(0, 20));

                }
            });
        });
        </script>


    </th:block>

</th:block>
