<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <article>
            <header class="mb-4">
                <!-- 게시판 기본 타이틀 -->
                <div class="board_title">
                    <h1>자유 게시판<span class="fw-light text-muted sub_title">회원 분들의 자유 게시판입니다.</span></h1>
                </div>
            </header>
            <div class="post_info mb-4">
                <!-- 게시글 제목-->
                <h2 class="fw-bolder post_title">
                    [[${dto.title}]]
                </h2>
                <hr />
                <!-- 작성 정보-->
                <div class="text-muted mb-2 post_detail">
                    <div class="post_no col-3">
                        <p class="mb-0 fw-bold text-dark">번호</p>
                        <span name="free_id">
                                            [[${dto.free_id}]]
                                        </span>
                    </div>
                    <div class="post_write col-3">
                        <p class="mb-0 fw-bold text-dark">작성자</p>
                        <span>
                                                [[${dto.member_id}]]
                                        </span>
                    </div>
                    <div class="post_date col-3">
                        <p class="mb-0 fw-bold text-dark">작성일</p>
                        <span>
                            [[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]
                                        </span>
                    </div>
                    <div class="post_date col-3">
                        <p class="mb-0 fw-bold text-dark">수정일</p>
                        <span>
                            [[${#temporals.format(dto.modDate, 'yyyy/MM/dd')}]]
                                        </span>
                    </div>
                </div>
                <hr />
            </div>

            <!-- 글 내용-->
            <section class="mb-5">
                <!-- 글 내용 관련 thymeleaf 코드는 p 태그 안에 기입 -->
                <p class="fs-5 mb-4">
                [[${dto.content}]]
                </p>
            </section>
            <!-- 좋아요 싫어요 -->
            <div style="  display: flex; justify-content: center; align-items: center;height:auto;">
                <div class="event_box">
                    <div style="text-align:center; width:auto; height:auto; display:block; margin-right:10px; float:left">
                        <div id="like_box" class="button disabled form-group">
                                <img src="/img/like.png" alt="좋아요">
                            <!-- like_cnt, default 값은 0으로 함 -->
                        </div>
                        <input type="hidden" name="like_cnt" id="free_id" th:value="${dto.free_id}"/>
                        <input type="hidden" name="like_cnt" id="like_cnt" th:value="0"/>
                        <p id="likes_cnt">[[${dto.like_cnt}]]</p>
                    </div>

                    <div style="text-align:center; width:auto; height:auto; display:block; float:left">
                        <div id="hate_box" class="button disabled form-group">
                            <a href="">
                                <img src="/img/dislike.png" alt="좋아요">
                            </a>
                            <!-- like_cnt, default 값은 0으로 함 -->
                        </div>
                        <input type="hidden" name="hate_cnt" id="hate_cnt" th:value="0"/>
                        <p id="hates_cnt">[[${dto.hate_cnt}]]</p>
                    </div>
                </div>
            </div>
            <!-- 수정 / 삭제 / 목록 버튼 -->
            <div class="btn_wrap">
                <!-- 로그인을 해야 수정/삭제 버튼 보이게 처리 -->
                <th:block sec:authorize="isAuthenticated()">
                    <a class="btn btn-dark btn_style" th:href="@{/onmom/freeBoard/freeBoardModify(free_id = ${dto.free_id})}">
                        수정 및 삭제
                    </a>
                </th:block>
                <a class="btn btn-dark btn_style" th:href="@{/onmom/freeBoard/freeBoardList}">목록</a>
                <span class="btn btn-dark btn_style addReply">댓글 추가</span>
            </div>

            <div>
                <div class="mt-4">
                    <h5 ><span class="btn btn-dark btn_style replyCount"></span> </h5>
                </div>
                <div class="list-group replyList">

                </div>
            </div>
        </article>


        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control"  type="text" name="content" placeholder="Reply Text...">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="member_id" th:value="${#authentication.name}" />
                            <span class="checkId" name="member_id" sec:authentication="name"></span>
                            <input type="hidden" name="comment_id" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger replyRemove">Remove</button>
                        <button type="button" class="btn btn-warning replyModify">Modify</button>
                        <button type="button" class="btn btn-primary replySave">Save</button>
                        <button type="button" data-dismiss="modal" class="btn btn-outline-secondary replyClose" >Close</button>
                    </div>
                </div>
            </div>
        </div>



        <script>
             $(document).ready(function() {

                var free_id = [[${dto.free_id}]];

                var member_id = $('input[name="member_id"]').val();

                var listGroup = $(".replyList");

                $(".replyCount").click(function(){

                    $.getJSON('/replies/freeBoard/'+free_id, function(arr){

                        console.log(arr);

                    })//end getJSON

                })//end click


                //댓글이 추가될 영역
                var listGroup  = $(".replyList");


                    //날짜 처리를 위한 함수
                    function formatTime(str){
                        var date = new Date(str);

                        return date.getFullYear() + '/' +
                            (date.getMonth() + 1) + '/' +
                            date.getDate() + ' ' +
                            date.getHours() + ':' +
                            date.getMinutes();
                    }


                    //특정한 게시글의 댓글을 처리하는 함수
                    function loadJSONData() {
                        $.getJSON('/replies/freeBoard/'+free_id, function(arr){

                            console.log(arr);

                            var str ="";

                            $('.replyCount').html(" 댓글 갯수  " + arr.length);

                            $.each(arr, function(idx, reply){
                                console.log(reply);
                                str += '    <div class="card-body"data-comment_id="'+reply.comment_id+'">';
                                str += '    <h5 class="card-title">'+reply.content+'</h5>';
                                str += '    <h6 class="card-subtitle mb-2 text-muted">'+reply.member_id+'</h6>';
                                str += '    <p class="card-text">'+ formatTime(reply.regDate) +'</p>';
                                str += '    </div>';
                            })

                            listGroup.html(str);

                        });
                    }

                    $(".replyCount").click(function(){

                        loadJSONData();
                    })//end click

                    //모달 창
                    var modal = $('.modal');

                    $(".addReply").click(function () {

                        modal.modal('show');

                        //댓글 입력하는 부분 초기화 시키기
                        $('input[name="replyText"]').val('');
                        $('input[name="member_id"]').val('');


                        $(".modal-footer .btn").hide(); //모달 내의 모든 버튼을 안 보이도록
                        $(".replySave, .replyClose").show(); //필요한 버튼들만 보이도록

                    });

                    $(".replySave").click(function() {

                        var reply = {
                            free_id: free_id,
                            content: $('input[name="content"]').val(),
                            member_id: member_id
                        }
                        console.log(reply);
                        $.ajax({
                            url: '/replies/',
                            type: 'post',
                            data:  JSON.stringify(reply),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function(data){
                                console.log(data);

                                var newComment_id = parseInt(data);

                                alert("새로운 댓글이 등록되었습니다.")
                                modal.modal('hide');
                                loadJSONData();
                        }
                    })
                });

                   $('.replyList').on("click", ".card-body", function(){

                    var comment_id = $(this).data("comment_id");

                    $("input[name='content']").val( $(this).find('.card-title').html());
                    $("input[name='member_id']").val( $(this).find('.card-subtitle').html());
                    $("input[name='comment_id']").val(comment_id);

                    $(".modal-footer .btn").hide();
                    $(".replyRemove, .replyModify, .replyClose").show();

                    modal.modal('show');

                });

                $(".replyRemove").on("click", function(){

                    var comment_id = $("input[name='comment_id']").val(); //모달 창에 보이는 댓글 번호 hidden처리되어 있음

                    $.ajax({
                        url: '/replies/' + comment_id,
                        method: 'delete',

                        success: function(result){
                            console.log("result: " + result);
                            if(result ==='success'){
                                alert("댓글이 삭제되었습니다");
                                modal.modal('hide');
                                loadJSONData();
                            }
                        }
                    })
                });

                  $(".replyModify").click(function() {

                    var comment_id = $("input[name='comment_id']").val();

                    var reply = {
                        comment_id: comment_id,
                        free_id: free_id,
                        content: $('input[name="content"]').val(),
                        member_id: $('input[name="member_id"]').val()
                    }

                    console.log(reply);
                    $.ajax({
                        url: '/replies/' + comment_id,
                        method: 'put',
                        data:  JSON.stringify(reply),
                        contentType: 'application/json; charset=utf-8',
                        success: function(result){

                            console.log("RESULT: " + result);

                            if(result ==='success'){
                                alert("댓글이 수정되었습니다");
                                modal.modal('hide');
                                loadJSONData();
                            }
                        }
                    });
                });


<!--       좋아요         -->
                 $("#like_box").click(function() {

                            console.log("!12@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@");
                        var like = {

                            free_id: free_id,
                            like_cnt: like_cnt

                        }
                    $.ajax({
                        url: '/onmom/freeBoard/freeBoardLike?free_id='+free_id,
                        type: "get",
<!--                       dataType: 'json',-->
                        success: function(data, status) {
                            console.log(data+"Success@@@@@#####$$$$$$$$!!!!");

                            $("#Likes_cnt").text(data);
                            self.location.reload;
                        }
                        });
                     });

<!--                실어요              -->

<!--                     $(".hate_box").click(function() {-->

<!--                     var hate= {-->
<!--                        free_id = free_id,-->
<!--                        hate_cnt = Number($("hates_cnt").val())+1-->

<!--                     }-->

<!--                    $.ajax({-->
<!--                        url: 'ajax_onLoad.php',-->
<!--                        type: "post",-->
<!--                        datatype: JSON.stringify(hate),-->
<!--                        data: {-->
<!--                            "no": "20220629081845"-->
<!--                        },-->
<!--                        success: function(data, status) {-->

<!--                                $("#hates_cnt").text(data.hates_cnt);-->

<!--                                $("#hate_cnt").val(data.hates_cnt);-->

<!--                                $("#hate_cnt").text(Number($("hates_cnt").val())+1);-->
<!--                    });-->




             });
        </script>

    </th:block>

</th:block>
