<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 마이페이지 전체 wrap -->
        <div class="container px-5 my-5 review_post">
            <!-- 마이페이지 타이틀 -->
            <h1 class="mt-4">
                <div class="board_title">
                    <h1>마이 페이지</h1>
                </div>

            </h1>

            <span>
                <h3>내 프로필</h3>
            </span>
            <!-- <div sec:authorize="isAuthenticated()">
                Only Authenticated user can see this Text
            </div> -->

             <div class="form-floating" style="width: 30%; padding-bottom: 3px">
                <input type="email" th:value="${#authentication.principal.username}" class="form-control" id="email"
                       required readonly>
                <label for="email">이메일</label>
            </div>

            <div class="form-floating" style="width: 30%; padding-bottom: 3px;">
                <input type="text" th:value="${#authentication.principal.nickname}" class="form-control" id="nickname"
                       required readonly>
                <label for="nickname">닉네임</label>
            </div>

            <div class="form-floating" style="width: 30%; padding-bottom: 3px">
                <input type="text" th:value="${#temporals.format(memberInfo.regDate, 'yyyy-MM-dd')}" class="form-control" id="regDate"
                       required readonly>
                <label for="regDate">가입 날짜</label>
            </div>
            <button type="button" class="btn btn-primary">닉네임 변경</button>


            <span>
                <h3 class="mt-4">내가 쓴 글</h3>
            </span>

            <!-- 내가쓴글 수정중 ------------------------------------------------------------->
<!--            <select id="getInfo" resultMap="memberInfo">-->
<!--                select member_id,-->
<!--                nickname,-->
<!--                f.free_id,-->
<!--                f.title,-->
<!--                f.content,-->
<!--                f.like_cnt,-->
<!--                f.hate_cnt,-->
<!--                f.regDate,-->
<!--                f.modDate,-->
<!--                from member m-->
<!--                left outer join freeBoard f-->
<!--                on m.member_id = f.member-->
<!--                where m.member_id = #{member_id}-->
<!--            </select>-->

<!--            <resultMap type="MemberDTO" id="memberInfo">-->
<!--                <result property="member_id" column="MEMBER_ID"/>-->
<!--                <result property="nickname" column="NICKNAME"/>-->
<!--                <collection property="memberFreeBoardList" resultMape="freeBoardList"/>-->
<!--            </resultMap>-->

<!--            <resultMap type="FreeBoardDTO" id="freeBoardList">-->
<!--                <result property="free_id" column="FREE_ID"/>-->
<!--                <result property="title" column="TITLE"/>-->
<!--                <result property="content" column="CONTENT"/>-->
<!--                <result property="like_cnt" column="LIKE_CNT"/>-->
<!--                <result property="hate_cnt" column="HATE_CNT"/>-->
<!--                <result property="regDate" column="REGDATE" />-->
<!--                <result property="modDate" column="MODDATE" />-->
<!--            </resultMap>-->

<!--            <tr>-->
<!--                <td><input class="form-control input-sm" th:value="${memberInfo.member_id}"></td>-->
<!--            </tr>-->

            <!-- 테이블 선언 실시 -->
            <table>

                <thead>
                <tr>
                    <th>제목</th>
                    <th>추천</th>
                    <th>비추천</th>
                    <th>등록 날짜</th>
                </tr>
                </thead>

            <tbody>

            <tr th:each = "list : ${freeBoardDTO}">
                <td><span th:text="${list.title}"></span></td>
                <td><span th:text="${list.like_cnt}"></span></td>
                <td><span th:text="${list.hate_cnt}"></span></td>
                <td><span th:text="${#temporals.format(list.regDate, 'yyyy-MM-dd')}"></span></td>
            </tr>
            </tbody>

            </table>
        </div>


        </div>
    </th:block>
</th:block>

</html>